<!DOCTYPE html>
<html>
<head>
  <title>VkBot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class='<%= controller.controller_name %>'>
  <% if session[:user_id] %>
    <div class="header">
      <ul>
        <li><%= link_to @current_user.name.capitalize, user_path(@current_user.id) %></li>
        <li><%= link_to "Выход", logout_path, method: :delete %></li>
      </ul>
    </div>
  <% end %>

<%= yield %>

</body>

</html>
